.defaultMargin {
   	margin: 20px 0px 50px 50px ;
}

.red {
	color: "red";
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}