<!DOCTYPE html>
<html xmlsn:th="http://thymeleaf.org"
	xmlsn:layout="https://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>Lista de Jogadores</title>
	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    
    <link type="text/css" rel="stylesheet" href="css/defaultStyle.css"/>

	<!-- Load pattern UTF-8 -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<h1 class="defaultMargin">Lista de Jogadores</h1>
	<h3 class="defaultMargin"><a href="/registerPlayer" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Jogador</a></h3>
	<table class="container">
		<thead>
			<tr>
				<td>Nome</td>
				<td>Vitórias</td>
				<td>Partidas</td>
				<td>Deletar</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each="player : ${players}">
				<td><span th:text="${player.name}"></span></td>
				<td>
					<span th:text="${player.victories}"></span>
					<a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('PC#addVictory').arg(0, player.cod)).build()}"><i class="material-icons center">add</i></a>
				</td>
				<td>
					<span th:text="${player.numberOfGames}"></span>
					<a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('PC#addGame').arg(0, player.cod)).build()}"><i class="material-icons center">add</i></a>
				</td>
				<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('PC#deletePlayer').arg(0, player.cod)).build()}"><i class="material-icons center">delete</i></a></td>
			</tr>
		</tbody>
	</table>
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>